.wrapper {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  overflow: hidden;
}


.glow {
  animation: glow 7s ease-in-out infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 2.5px #ffffff79, 0 0 10px #2d99fa;
  }
  50% {
    text-shadow: 0 0 2.5px #ffffff79, 0 0 10px #2d99fa;
  }
  52% {
    text-shadow: 0 0 1.25px #ffffff79, 0 0 5px #2d99fa;
  }
  55% {
    text-shadow: 0 0 2.5px #ffffff79, 0 0 10px #2d99fa;
  }
  59% {
    text-shadow: 0 0 1.25px #ffffff79, 0 0 5px #2d99fa;
  }
  75% {
    text-shadow: 0 0 4px #ffffff79, 0 0 15px #2d99fa;
  }
  100% {
    text-shadow: 0 0 2.5px #ffffff79, 0 0 10px #2d99fa;
  }
}


.left {
  position: absolute;
  width: 543px;
  height: 543px;
  left: -305px;
  top: -100px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(52, 152, 255, 0.45) 0%, rgba(52, 152, 255, 0.15) 64.58%, rgba(52, 152, 255, 0) 100%)
}

.right {
  position: absolute;
  width: 743px;
  height: 743px;
  right: -350px;
  bottom: -200px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(52, 152, 255, 0.45) 0%, rgba(52, 152, 255, 0.15) 64.58%, rgba(52, 152, 255, 0) 100%)
}

.middle {
  position: absolute;
  width: 543px;
  height: 543px;
  right: 50%;
  bottom: 0px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(52, 152, 255, 0.45) 0%, rgba(52, 152, 255, 0.15) 64.58%, rgba(52, 152, 255, 0) 100%)
}


.inner {
  position: relative;
  padding-top: rem(200px);
  padding-bottom: rem(120px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: rem(80px);
    padding-top: rem(80px);
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(62px);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(42px);
    line-height: 1.2;
  }
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: rem(24px);
  color: #ffffff81;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(18px);
  }
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: rem(54px);
  padding-left: rem(38px);
  padding-right: rem(38px);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(54px);
    padding-left: rem(18px);
    padding-right: rem(18px);
    flex: 1;
  }
}