.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.products {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    overflow: hidden;
}